.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 740px;
    background-image: url("../img/housevop.png");
}

.description > h1 {
    color: #D4C17F;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    width: 556px;
    margin-top: 200px;
}

.contacts {
    font-size: 18px;
    margin-top: 340px;
    min-width: 582px;
    display: flex;
    justify-content: space-between;
}
button {
    margin-left: 30px;
    padding: 20px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact span{
    margin-left: 15px;

}

.icons {
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 794px;
    margin: 0 auto;
}

.icons p {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.icon {
    display: flex;
    flex-direction: column;
}

.icon img {
    margin-bottom: 53px;
}

.appartments h2 {
    font-size: 36px;
    color: #D4C17F;
    font-family: 'Playfair Display', serif;
}

.loft {
    display: grid;
    grid-template-columns: repeat(2, 535px);
    grid-template-rows: repeat(2, 320px);
    grid-gap: 30px;
    margin-top: 100px;
}
